
#circlecnv {
  z-index: 3;
  position: relative;
  left: 10px;
  height: 40px;

}

.topBar {
  position: relative;
  padding: 0;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
}

.visualizer {
  width: 850px;
  height: 40px;
  padding: 0;
  left: 650px;
  display: block;
}


